<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="resources/static/styles.css">
</head>
<body>
    <h1>Codefellowship</h1>
    <h2>"A place for coders to share in the struggle"</h2>

    <form action="/signup" method="POST">
        Sign Up:
        <br>User Name:<input type="text" name="userName">
        <br>Password:<input type="password" name="password">
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>